<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="{{ url_for('static', path='js/cart/cart.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', path='css/cart/cart.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Моя Корзина</h1>
    </header>

    <div class="container">
        {% if products %}
            <table>
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>
                                <img src="{{ url_for('static', path='product images/' + product.photo_url) }}" alt="{{ product.name }}" style="max-width: 100px;">
                            </td>
                            <td>{{ product.name }}</td>
                            <td class="price" data-price="{{ product.price }}">{{ product.price }}</td>
                            <td>
                                <div class="quantity">
                                    <button class="decrement">-</button>
                                    <input type="number" value="1" min="1" max="10" data-product-id="{{ product.id }}">
                                    <button class="increment">+</button>
                                </div>
                            </td>
                            <td>
                                <form method="post" action="/delete-from-cart">
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <button type="submit">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Общая сумма: <span id="total-sum">{{ total_sum }}</span></p>
        {% else %}
            <h1 class="empty" value="empty">Корзина пуста...</h1>
        {% endif %}
    
        <div class="action-buttons">
            {% if products %}
                <button onclick="window.location.href='/'">Вернуться на главную</button>
                <button onclick="window.location.href='/checkout'" class="checkout">Оформить заказ</button>
            {% else %}
                <button onclick="window.location.href='/'">Вернуться на главную</button>
            {% endif %}
        </div>
    </div>
    
</body>
</html>
